@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: "Space Grotesk";
  --font-plex-sans: "IBM Plex Sans";
}

body {
  margin: 0;
  background-color: #EFF1EC;
  color: #16211C;
}
